.DogList-list {
    list-style: none;
    padding: 0;
}

.DogList-list li {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}

.DogList-list li a {
    margin-left: 0.5em;
}

.DogList img {
    height: 50px;
}